# Git submodule definition file
#
# Reference:
#
# * Git - gitmodules Documentation
#   https://git-scm.com/docs/gitmodules
#
# Copyright 2024 林博仁(Buo-ren Lin) <buo.ren.lin@gmail.com>
# SPDX-License-Identifier: CC-BY-SA-4.0 OR LicenseRef-Apache-2.0-If-Not-Used-In-Template-Projects
[submodule "The searching-ubuntu-packages agent skill"]
	path = .agents/skills/searching-ubuntu-packages
	url = https://gitlab.com/brlin/searching-ubuntu-packages.git
	ignore = dirty
	shallow = true
[submodule "The developing-bash-scripts agent skill"]
	path = .agents/skills/developing-bash-scripts
	url = https://gitlab.com/brlin/developing-bash-scripts.git
	ignore = dirty
	shallow = true
[submodule "The determining-git-commit-messages agent skill"]
	path = .agents/skills/determining-git-commit-messages
	url = https://gitlab.com/brlin/determining-git-commit-messages.git
	ignore = dirty
	shallow = true
